<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @event.public_title %>
</p>

<p>
  <strong>Public description:</strong>
  <%= @event.public_description %>
</p>

<p>
  <strong>Private description:</strong>
  <%= @event.private_description %>
</p>

<p>
  <strong>Public Date:</strong>
  <%= @event.public_date %>
</p>

<p>
  <strong>Public Time:</strong>
  <%= @event.public_time %>
</p>

<p>
  <strong>Public Location:</strong>
  <%= @event.public_location %>
</p>

<p>
  <strong>Public Price:</strong>
  <%= @event.public_price %>
</p>

<p>
  <strong>Max attendances:</strong>
  <%= @event.max_attendances %>
</p>

<p>
  <strong>Public Picture url:</strong>
  <%= @event.public_picture %>
</p>

<p>
  <strong>Public code:</strong>
  <%= @event.public_code %>
</p>

<p>
  <strong>Private code:</strong>
  <%= @event.private_code %>
</p>

<p>
  <strong>Is Public:</strong>
  <%= @event.is_public %>
</p>

<!-- <= link_to 'Edit', edit_event_path(@event) %> | -->
<%= link_to 'Back', events_path %>
